
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Source Code Pro", sans-serif;
}
:root{
    --bg-color: #fff;
    --font-color:#0f0c27 ;
    --hover:hsl(260,100%,51%);

    --big-font: 3.2rem;
    --medium-font:1.8rem;
    --p-font: 0.941rem;
    --dark-blue:#01267f;
    --blue:#5c65c0;
    --skyblue :#005bc5;
    --dark-pink:#f64c57;
    --dark-magenta:#e21b5a;
    --light-green:#61e2c2;


}
body.active{
    --text-color:#fff;
    --bg-color:var(--font-color);
    --skill-bar-color:rgba(225,208,208,0.771);
    --about-me-color: rgba(64,64,64,0.64);
    --about-me-font-color:#f2f2f2;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    --skill-bar-color:rgba(0,0,0,0.1);
    --about-me-color:rgba(178,178,227,0.433);
    --about-me-font-color:#2f2f2f;
}
section{
    padding: 50px 10%;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px rgba(94, 104, 121, 0.288);

}
header.shadow{
    box-shadow:0 0 4px rgb(14 55 54 / 15%);
}
.logo{
    font-size: 1.60rem;
    font-weight: 600;
    color: var(--text-color);

}
.navbar{
    display: flex;
}
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;

}
.navbar a:hover{
    color: var(--hover);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10000;
    display: none;

}
#darkmode{
    font-size: 22px;
    cursor: pointer;
}

.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;

}
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    width: 65%;
    padding-left: 30px;
    margin-top: 100px;
}
.featured-text .hello{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: var(--text-color);

}
.featured-name{
    font-size: 50px;
    font-weight: 400;
    margin-block: 20px;
    color: #8749f2;
    margin-bottom: 10px;
}
.typedText{
   font-family: sans-serif;
   color:  #8749f2;
   font-size: 70px;
   font-weight: 600;
   text-transform: capitalize;
}
.featured-text-info{
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--text-color);

}

.btn{
    display: inline-block;
    background: #732dec;
    color: #fff;
    margin-top: 20px;
    padding:10px 25px ;
    border-radius: 10px;

}
.btn:hover{
    background: #8749f2;
}

.social_icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -5px;
    gap: 32px;

}
.social_icons i{
    color: #ddd;
    font-size: 16px;
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 1px 5px 3px #8749f2;
    border-radius: 50%;
    transition: 0.5ms;

}
.social_icons i:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.featured-image{
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;

}
.image{
    margin-top: 10%;
    width: 500px;
    height: 700px;
    border-radius: 40% 40% 40% 40%;
    overflow: hidden;
    animation: imgFloat 5s ease-in-out infinite;
    
}
@keyframes imgFloat{
    50%{
        transform: translateY(50px);
    }
}

.image img{
    width: 500px;
    height: 700px;
    object-fit: cover;
}


.about-container{
    gap: 1rem;
    margin-top: 2rem;
    padding-left: 30px;


}
.about{
    display: grid;
    grid-template-columns: (2,1fr);
    border-radius: 10px;
}
.about h1{
    color: var(--about-me-font-color);
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}

.about h1::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: linear-gradient(45deg, #f64c57, #e21b5a);
}
.about p{
    color: var(--text-color);
    margin: 1.5rem 0;
}
.btn-b{
 display: inline-block;
 background: #732dec;
 color: #fff;
 padding: 8px 20px;
 margin-top: -5px;
 margin-left: 2px;
 border-radius: 10px;
}
.btn-b :hover{
    background: #8749f2;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,auto));
    justify-content: center;
    gap: 1rem;

    padding-top: 25px 0;
    }
    
    .skills-header{
    text-align: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    }
    
    .skills-header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: #2ecc71;
    border-radius: 2px;
    }
    
    .skills-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px,auto));
        justify-content: center;
        gap: 1rem;
        padding-top: 25px 0;
    }
    .skills-box{
    padding: 1rem;
    color: #000;
    cursor:pointer;
    }
    .skills-box:hover > .skills-title:after, 
    .skills-box:hover > .skills-title:before{
    width: 30px;
    }
    .skills-box:hover .skills-img{
    transform: translateX(-20px);
    }
    
    .skills-title{
    display:flex;
    flex-direction: column;
    align-items:center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    }
    
    .skills-title:after{
    content: '';
    position:absolute;
    bottom: 0;
    right: 50%;
    width:20px;
    height:4px;
    border-radius: 2px 0 0 2px;
    background-color: #732dec;
    transition: .5s;
    }
    
    .skills-title:before{
    content: '';
    position:absolute;
    bottom: 0;
    left: 50%;
    width:100px;
    height:4px;
    border-radius: 0 2px 2px 0;
    background-color: #732dec;
    }
    
    .skills-icons{
    width:50px;
    z-index:2;
    }
    
    .skills-img{
    width:90px;
    height:90px;
    position: relative;
    background-color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: .5s;
    }
    
    .skills-title h3{
    color: #333;
    margin-top: 0.5rem;
    }

    .heading{
    text-align: center;
   
    }
    .heading h2{
        font-size: 30px;
    }
    .heading span{
        font-size: var(--p-font);
        color: #8749f2;
        text-align: center;
    }
    .services-content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }
    .services-box{
        padding: 20px;
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 2px 7px rgb(14 55 54 / 15%);
    }
    .services-box:hover{
        background:#8749f2;
    }
    .services-box h3{
        font-size: 1rem;
        font-weight: 600;
        margin: 0.7rem 0 0.4rem;
    
    }
    .services-box:hover h3{
        color: #fff;
    }
    .services-box .bx{
        padding-top: 2rem;
        font-size: 54px;
        color: #8749f2;

    }
    .services-box:hover .bx{
        color: #fff;
    }
    .services-box a{
       font-size: var(--p-font);
       font-weight: 500;
    }
    .services-box:hover a{
        color: #dbdbdb;
    }
    .portfolio-content{
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(280px, auto)) ;
        gap: 1rem;
        margin-top: 2rem;

    }

      
    .portfolio-img{
        overflow: hidden;
        border-radius: 0.5rem;

    }
    .portfolio-img img{
        width: 100%;
        display: block;
    }
   /* .portfolio-img img:hover{
        transform: scale(1.1);
        transition: 0.5s;
        cursor: pointer;
    }*/

    .overlay_5 {
        inset: 0;
        transform: scale(0);
        transition: all .3s ease-in-out;
        position: absolute; /* Position the overlay */
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        background: #5b55555f;
      }
      .image-wrapper {
        position: relative; /* Ensure relative positioning for absolute positioning inside */
      }
      
      .image-wrapper:hover .overlay_5 {
        transform: scale(1);
      }
      
      .icon i {
        border-radius: 50%;
        font-size: 40px;
        color: #fff;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
    .contact-form{
        display: grid;
        place-items: center;
        margin-top:2rem;

    }
    .contact-form form{
        display: flex;
        flex-direction: column;
        width: 650px;

    }
    .popup{
        width: 20%;
        height: auto;
        background-color: #8749f2;
        border-radius: 0.5rem;
        margin: 0;
        top: 0;
        left: 50%;
        position: absolute;
        transform: translate(-50%,-50%) scale(0.1);
        text-align: center;
        color: #fff;
        visibility: hidden;
        transition: transform 0.3s top 0.3s;
        h2{
            font-size: 38px;
            font-weight: 800;
            margin: 30px 0 10px;

        }
        button{
            width: 50%;
            height: auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background: #ddd;
            border: 0;
            padding: 15px;
            outline: none;
            font-size: 14px;
            border-radius: 0.5rem;
        }
    }
    .openPopup{
        visibility: visible;
        top: 50%;
        transform:(-50%,-50%) scale(0.1);
    }

    form input,
    textarea{
        padding: 15px;
        border-radius: 0.5rem;
        width: 100%;
        border: none;
        outline: none;
        background: hsl(260,100%,44%,0.1);
        margin-bottom: 1rem;
        color: var(--text-color);
    }
    form input ::placeholder,
    textarea ::placeholder{
        color: var(--text-color);
    }
    form textarea{
        resize: none;
        height: 200px;

    }
    .form-button > .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 40%;
        border: none;
        padding: 10px 20px;
        border: #fff;
    }
    .form-button i{
        font-size: 13px;
        padding-right: 5px;
        margin-left: 10px;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
        padding-block: 40px 60px;


    }
    .middle-footer .footer-menu{
        display: flex;
    }
    .footer-menu-list{
        list-style: none;
    }
    .footer-menu-list a{
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        margin-inline: 20px;

    }
    .footer-meny-list a:hover{
        color: #8749f2;
    }
    .footer-social-icons{
        display: flex;
        gap: 30px;
    }
    .bottom-footer{
        font-size: 14px;
        margin-top: 10px;
    }

    @media screen and (max-width: 1024px){
        
        .featured-image{
            justify-content: center;
            min-height: 200px;
            width: 100%;
            margin-top: 20px;
            margin-right: -28px;
        }
        .image,
        .image img{
           
            width: 400px;
            height: 550px;
        }
       }

       
    @media (max-width: 970px){
        
        header{
            padding: 18px 4%;
        }
        section{
            padding: 50px 4%;
        }
        footer{
                padding: 18px 4%;
        }
       }

     @media (max-width: 770px){
        :root{
            --big-font:2.4rem;
            --medium-font:1.2rem;

        }
        
        header{
            padding: 11px 4%;
        }
       #menu-icon{
        display: initial;
        color: var(--text-color);

       }
       header .navbar{
        position:absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        background: var(--bg-color);
        text-align: center;
        transition: 0.2s;
         
       }
       .image,
        .image img{
           
            width: 150%; /* Adjust the percentage as needed */
            height: auto; /* Allow the height to adjust proportionally */
            border-radius: 40% 40% 40% 40%;
        }
       .navbar.active{
        top: 100%;
       

       }
       .navbar a{
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);

       }
       .skills-img{
        display: flex;
        justify-content: center;

       }
       .contact-form{
        width: 420px;

       }
       footer{
        position: absolute;
        display: flex;
        align-items: center;
       }
       }
   